{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "no-restricted-syntax": 0
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["airbnb", "airbnb-typescript", "prettier"],
      "rules": {
        "no-restricted-syntax": 0
      },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2022,
        "project": "./tsconfig.json",
        "sourceType": "module"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
