{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": ["airbnb", "plugin:react/jsx-runtime", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "no-restricted-syntax": 0,
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "airbnb",
        "airbnb-typescript",
        "plugin:react/jsx-runtime",
        "prettier"
      ],
      "rules": {
        "no-restricted-syntax": 0,
        "@typescript-eslint/lines-between-class-members": [
          "error",
          "always",
          { "exceptAfterSingleLine": true }
        ]
      },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2022,
        "project": "./tsconfig.json",
        "sourceType": "module"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
