* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pixel7';
  src: url('/assets/Pixel7.ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

#root {
  position: relative;

  width: 100%;
  height: 100%;
}

#visual {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: radial-gradient(#ffffff, #efefef);

  overflow: hidden;
}

#visual canvas {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;

  width: 100%;
  height: 100%;

  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.landing {
  position: absolute;
  top: 50%;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 64px 0 32px 0;

  width: 100%;

  text-align: center;

  transform: translateY(-50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.landing a {
  text-decoration: none;
  color: #000000;
}

.landing .name {
  margin-bottom: 1rem;

  letter-spacing: 1rem;
}

.landing .desc {
  font-size: 1.5rem;
  line-height: 2rem;
}

.landing .looking {
  font-size: 1rem;
  line-height: 1.2rem;
}

.landing .links {
  display: flex;
}

.landing .links a {
  margin: 8px 16px;

  font-size: 2rem;

  transition: color 0.25s ease;
}

.landing .links a:hover {
  color: #888888;
}

.landing.loading {
  opacity: 0;

  transform: translateY(-40%);
}

.pixel {
  font-family: 'Pixel7';
  filter: contrast(1);
}